<div class="home-callout text-center container-fluid">
    <h1>Welcome to Cannabis.info.</h1>
    <h3>A portal for useful information on cannabis, and sources to help you get and use cannabis properly.</h3>
</div>